Source: lxweather
Section: applications
Priority: optional
Maintainer: Piotr Sipika <piotr.sipika@gmail.com>
Build-Depends: debhelper (>= 8.9.0~), dh-autoreconf,
   intltool, libgtk2.0-dev (>= 2.18), libxml2-dev
Standards-Version: 3.9.5
Homepage: https://github.com/psipika/lxweather

Package: lxweather
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Lightweight GTK+-2.0 weather application.
 LXWeather uses YahooWeather(r) to retrieve location and forecast
 information for the configured location(s).
